<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REGISTRATION</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- ============= CONTAINER ============== -->
    <div class="regcontainer">
      <!-- sidebar -->
      <div class="regsidebar"></div>
      <!-- registration container -->
      <div class="registration">
        <h1>LAB COAT SIZING</h1>
        <!-- START FORM -->
        <form action="/register" method="POST">
          <!-- fieldset for account info -->
          <fieldset class="account-info">
            <!-- legend for account info -->
            <legend>Registration</legend>
              <!-- username -->
              <label class="reglabel" for="username">USERNAME</label>
              <input class="reginput" type="text" id="username"/>
              <!-- password -->
              <label class="reglabel" for="password">PASSWORD</label>
              <input class="reginput" type="text" id="password">
              <!-- email -->
              <label class="reglabel" for="email">E-MAIL</label>
              <input class="reginput" type="text" id="email"/>
          </fieldset>
          <!-- fieldset for profile info -->
          <fieldset class="profile-info">
            <!-- legend for profile info -->
            <legend>User Recipe Submission</legend>
              <!-- recipe -->
              <label class="reglabel" for="userrecipe">RECIPE</label>
              <!-- textarea for larger bodies of text -->
              <textarea id="userrecipe" placeholder="Send in your favoritie recipe for a chance for it to be featured on our home page with the Chili Lab LLC stamp of approval!"></textarea>
          </fieldset>
          <!-- submit button -->
          <input class="reginput" type="submit" value="REGISTER">
        </form>
      </div>
    </div>
  </body>
</html>
