.mainimage {
    background-image: url('./images/beazy-SeFom14Cuzo-unsplash\ \(1\).jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    /* background-position: center; */
    

}

.newimage {
    background-image: url('./images/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg');
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0; 
}

.showimage {
    background-image: url('./images/sven-brandsma-jfUW60RvpyY-unsplash.jpg');
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.editimage {
    background-image: url('./images/dana-devolk-x2cNcfz_xXU-unsplash.jpg');
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0; 
}

.showimage2 {
    margin-left: 450px;
    border: 5px solid white;
    width: 400px;
    height: 500px;
    
}

.onediv {
    display: flex;
}

/* VARIABLES */
:root {
    --bright-blue: #63d7f1;
    --light-blue: #91e4f5;
    --light-grey: #eff0ee;
    --lighter-grey: #eaeee4;
    --sky-blue: #07abd8;
  }
  
  /* GENERAL */
  body {
    background: #e9e9e9;
    font-family: helvetica;
  }


  
  /* CONTAINERS */
  .regcontainer {
    width: 80vw;
    height: 70vw;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
  }
  .regsidebar {
    width: 50%;
    background: url('./images/inside-weather-Uxqlfigh6oE-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
  }
  .registration {
    width: 50%;
    background: #f9f9f9;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;
  }

  .indexcontainer a {
   display: flex;   
}

  .indexcontainer {
    margin-top: 15px;
    border-radius: 15px 50px 30px;
    background: rgb(236, 236, 236);
    padding: 20px;
    box-sizing: border-box;
    width: 20%;
  }

  .showcontainer {
      display: flex;
      column-gap: 10px;
      margin-left: 10px;
  }

  .showitem1 {
    border-radius: 15px 50px 30px;
    background: rgb(236, 236, 236);
    padding: 20px;
    width: 300px;
    height: 200px;  
  }
    .showitem2 {
    border-radius: 15px 50px 30px;
    background: rgb(236, 236, 236);
    padding: 20px;
    width: 300px;
    height: 200px;  
  }
    .showitem3 {
    border-radius: 15px 50px 30px;
    background: rgb(236, 236, 236);
    padding: 20px;
    width: 75px;
    height: 25px;  
  }
  
  /* ETC. DECORATION */
  h1 {
    font-family: 'Oswald';
    font-weight: 500;
    color: var(--bright-blue);
    border-bottom: 2px solid var(--light-grey);
  }
  
  .navshow a {
      text-decoration: none;
      
  }

  a:visited { color: var(--bright-blue); }
  /* FORMS */
  
  fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
  }
  
  legend {
    padding: 0px;
    font-family: 'Oswald';
    font-weight: 500;
    color: var(--sky-blue);
  }
  
  .reglabel {
    font-family: 'Oswald';
    font-weight: 200;
    color: var(--bright-blue);
    display: block;
  }

  .indexbutton {
      width: 50px;
      height: 15px;
      display: flex;
      color: var(--bright-blue); 
  }

  .indexinput {
    background-color: var(--bright-blue);
    color: whitesmoke;
  }

  .stepsinput {
      width: 100%;
      height: 100px;
  }

  .editinput {
    width: 50%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--lighter-grey);
    border-radius: 5px;
  }

  .editinput:focus {
    outline: 0;
    border: 1px solid var(--sky-blue);
  }

  .editsubmit[type="submit"] {
    width: 50%;
    height: 50px;
    background: var(--bright-blue);
    box-shadow: 2px 2px var(--lighter-grey);
    font-family: 'Oswald';
    font-size: 1.3em;
    color: whitesmoke;
    border: 0px;
    transition: 0.2s ease-in-out;
  }

  .editsubmit[type="submit"]:hover {
    cursor: pointer;
    background: var(--light-grey);
    box-shadow: 2px 2px var(--light-blue);
  }
  .editinput2 {
    width: 50%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--lighter-grey);
    border-radius: 5px;
    height: 200px;
  }

  .editinput2:focus {
    outline: 0;
    border: 1px solid var(--sky-blue);
  }
  
  .reginput {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--lighter-grey);
    border-radius: 5px;
  }

  .reginput:focus {
    outline: 0;
    border: 1px solid var(--sky-blue);
  }
  
  .reginput[type="submit"] {
    width: 100%;
    height: 50px;
    background: var(--bright-blue);
    box-shadow: 2px 2px var(--lighter-grey);
    font-family: 'Oswald';
    font-size: 1.3em;
    color: whitesmoke;
    border: 0px;
    transition: 0.2s ease-in-out;
  }
  .reginput[type="submit"]:hover {
    cursor: pointer;
    background: var(--light-grey);
    box-shadow: 2px 2px var(--light-blue);
  }
  
  textarea {
    resize: none;
    height: 80px;
    width: 500px;
  }